<section class='wellcome'>
    <div class="cont_img">
        <img src="../../../assets/imgs/wellcome/wellcome.svg" alt="">
    </div>
    <div class="info text-center">
        <h1>مرحبا بكم في   <span routerLink='/newProject'> مهنتي </span></h1>
        <p class="lead">  هذا الموقع يعد معرض لكل صاحب عمل حر او شركة او مشروع صغير  
              ونحن الان قوم باضافة بعض التحسينات والتعديلات والتوسع في اضافة جميع محافظات مصر حتي يسهل
              علي كلا من المعلن والمستفيد 
              الوصل الي مبتغاهم بسهوله </p>
        <h2> لا تتردد باضافة مجالك او تخصصك حتي تحصل علي المزيد من العملاء   </h2>
        <button routerLink='/newProject'> اضف مجالك مجانا </button>
    </div>
</section>