


    <!----------------------------------- start header --------------------------------->
    <header class='block' id='home'>
    <div class="container">
    <div class='row'>
    <div class='col-lg'>
    <div class="info">
        <h1 class='welcome'> <i class="fas fa-praying-hands"></i> مهنتي   </h1>
        <p> سوق لمشروعك او مهنتك مجانا واحصل علي المزيد من العملاء فقط قم بملئ بيانات وظيفتك او مشروعك     </p>
       <button class="form_button"  routerLink='newProject'> اضف مجالك مجانا    </button>
    </div>
    </div>

    <div class='col-lg'>

    </div>
    </div><!-- end row-->
    </div><!-- end container -->
    </header>
 
    <!-----------------------------------end header --------------------------------->
  

    <!-----------------------------------start features  
    <section class="features block" id='feat'>
    <div class="container">
    <div class="main_title">
    <h2> مميزات المنصه </h2>
    <span class="sp_one"> </span>
    <span  class="sp_two"> </span>
    </div>
    <div class="row">
    <div class="col-md-6 col-lg">
        <div class="item hvr-curl-top-left">
        <i class="fas fa-american-sign-language-interpreting"></i>
        <h3> تطبيقات عملية </h3>
        <p class='lead'> تطبيقات على ما تعلمته لتثبيت المعلومات و لتطوير مهاراتك في التعامل مع الويب سواء تصميم او برمجة. </p>
        </div>
    </div>

    <div class="col-md-6 col-lg">
        <div class="item hvr-curl-top-left">
        <i class="fas fa-book"></i>
        <h3> دورات تعليميه   </h3>
        <p class='lead'> كورسات تعليمية لكافه الاقسام  لتتعلم منها بشكل احترافى </p>
        </div>
    </div>

    <div class="col-md-6 col-lg">
        <div class="item hvr-curl-top-left">
        <i class="fas fa-trophy"></i>
        <h3> مسابقات   </h3>
        <p class='lead'> تطبيقات على ما تعلمته لتثبيت المعلومات و لتطوير مهاراتك في التعامل مع الويب سواء تصميم او برمجة. </p>
        </div>
    </div>

    <div class="col-md-6 col-lg">
        <div class="item hvr-curl-top-left">
        <i class="fab fa-slideshare"></i>
        <h3> أفكار متجددة </h3>
        <p class='lead'> اسلوبنا التعليمي يقدم لك افكار متجددة تتيح لك أن توظف كل ما تعلمته حتى لا تنسى ما تعلمته او لا تعرف فائدته </p>
        </div>
    </div>
    </div>
    </div>
    </section>




    <div class='plans'>
    <div class="container">
    <div class='row plan'>
    <div class='col-md-8'>
        <div class='cont_img'> <img src='../../../assets/imgs/team plans/1.PNG'></div>
    </div>
    <div class='col-md-4'>
        <div class='info'>
            <h2> خطه فريقك متاحه الان </h2>
            <p> اعمل بذكاء وبادر بالاشتراك للحصول علي افضل المميزات الاضافيه </p>
            <a class="disc_more"> اكتشف المزيد <i class="fas fa-arrow-left "></i></a>
        </div>
    </div>
    </div>


    <div class='row plan fills'>
    <div class='col-md-8 d-xs-block d-sm-block  d-md-none'>
        <div class='cont_img'> <img src='../../../assets/imgs/team plans/2.PNG'></div>
    </div>
    <div class='col-md-4'>
        <div class='info'>
            <h2> مصادر مختلفه للمواد  </h2>
            <p> يمكنك تصفح الماده التعليمه من اكثر من محتوي سواء باللغه العربيه او الانجليزيه    </p>
            <a class="disc_more"> اكتشف المزيد <i class="fas fa-arrow-left "></i></a>
        </div>
    </div>
    <div class='col-md-8 d-xs-none d-sm-none d-md-block'>
        <div class='cont_img'> <img src='../../../assets/imgs/team plans/2.PNG'></div>
    </div>
    </div>
    </div>
    </div>
-->




<section class='sections block' id='subjects'>
    <div class="container">
        <div class="main_title">
            <h2> مجالاتنا  </h2>
            <span class="sp_one"> </span>
            <span  class="sp_two"> </span>
        </div>
        <div class='row'>
            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/computer'> 
                    <i class="fas fa-plane-arrival"></i>
                    <p> مشاريع يدويه   </p>
                    <div class='overlay'> </div>
                </a>
            </div>
            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/technology'> 
                    <i class="fas fa-user-nurse"></i>
                    <p> اطباء   </p>
                    <div class='overlay'> </div>
                </a>
            </div>
           
            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/music'> 
                    <i class="fas fa-dumbbell"></i>
                    <p> صالة رياضية  </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/music'> 
                    <i class="fas fa-pills"></i>
                    <p> صيدليات </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/arts'> 
                    <i class="fas fa-chalkboard-teacher"></i>
                    <p>  تدريس </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/economy'> 
                    <i class="fas fa-hammer"></i>
                    <p> معمار  </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/media'> 
                    <i class="fas fa-truck-moving"></i>
                    <p>  خدمات نقل  </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/stage'> 
                    <i class="fas fa-igloo"></i>
                    <p> عقارات </p>
                    <div class='overlay'> </div>
                </a>
            </div>


            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/stage'> 
                    <i class="fas fa-cart-plus"></i>
                    <p> سوبر ماركت   </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/stage'> 
                    <i class="fas fa-coffee"></i>
                    <p> كافية </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/stage'> 
                    <i class="fas fa-utensils"></i>
                    <p> مطاعم    </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/stage'> 
                    <i class="fas fa-user-secret"></i>
                    <p> ملابس </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/stage'> 
                    <i class="fas fa-fish"></i>
                    <p> محلات اسماك    </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/stage'> 
                    <i class="fas fa-mobile-alt"></i>
                    <p> خدمات موبايل    </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/stage'> 
                    <i class="fas fa-dolly-flatbed"></i>
                    <p> مفروشات   </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/stage'> 
                    <i class="fas fa-shower"></i>
                    <p> ادوات سباكة  </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/stage'> 
                    <i class="fas fa-tv"></i>
                    <p> اجهزه كهربائية   </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/stage'> 
                    <i class="fas fa-fire-extinguisher"></i>
                    <p> خدمات اطفاء وسلامة مهنية </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            
            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/stage'> 
                    <i class="fas fa-photo-video"></i>
                    <p> استديوهات  </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/stage'> 
                    <i class="fas fa-bong"></i>
                    <p> معامل تحاليل </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/stage'> 
                    <i class="fas fa-pencil-ruler"></i>
                    <p> خدمات طلابية  </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/stage'> 
                    <i class="fas fa-cookie-bite"></i>
                    <p> محلات حلويات </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/stage'> 
                    <i class="fas fa-pizza-slice"></i>
                    <p> مطاعم بيتزا </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/stage'> 
                    <i class="fas fa-car-battery"></i>
                    <p> محلات قطع غيار </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/stage'> 
                    <i class="fas fa-carrot"></i>
                    <i class="fas fa-apple-alt"></i>
                    <p> محلات خضروات وفواكه </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/stage'> 
                    <i class="fas fa-kiwi-bird"></i>
                    <p> اعلاف دواجن </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/stage'> 
                    <i class="fas fa-cat"></i>
                    <p> عياده بيطرية  </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/stage'> 
                    <i class="fas fa-mouse"></i>
                    <p> خدمات كمبيوتر  </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/stage'> 
                    <i class="fas fa-taxi"></i>
                    <p> خدمات توصيل </p>
                    <div class='overlay'> </div>
                </a>
            </div>

            <div class='col-md-6 col-lg-4'>
                <a class='item' routerLink='subjects/stage'> 
                    <i class="fas fa-gem"></i>
                    <p> محلات دهب مجوهرات </p>
                    <div class='overlay'> </div>
                </a>
            </div>
        </div>
    </div>
    <button class='text-center' routerLink='/newProject'> انضم الينا واضف مجالك مجانا  </button>
</section>





    <!-------------------------------- 
    <section class='talants block' id='talant'>
        <div class="container"> 
            <div class="main_title">
                <h2> اضف مجالك معنا  </h2>
                <span class="sp_one"> </span>
                <span  class="sp_two"> </span>
            </div>

            <div class='row'> 
                <div class='col-lg'>
                    <div class='item'> 
                        <div class="cont_img"><img src="../../../assets/imgs/talants/computer.png" alt="computer"></div>
                        <div class='overlay'> </div>
                    </div>
                </div>
                <div class='col-lg'>
                    <div class='item'> 
                        <div class="cont_img"><img src="../../../assets/imgs/talants/artist.jpg" alt="pizza"></div>
                        <div class='overlay'> </div>
                    </div>
                </div>
                <div class='col-lg'>
                    <div class='item'> 
                        <div class="cont_img"><img src="../../../assets/imgs/talants/actor.jpg" alt="actor"></div>
                        <div class='overlay'> </div>
                    </div>
                </div>
            </div>

            <div class='row'> 
                <div class='col-lg'>
                    <div class='item'> 
                        <div class="cont_img"><img src="../../../assets/imgs/talants/music.jpg" alt="music"></div>
                        <div class='overlay'> </div>
                    </div>
                </div>
                <div class='col-lg'>
                    <div class='item'> 
                        <div class="cont_img"><img src="../../../assets/imgs/talants/jour.jpg" alt="sa7afa"></div>
                        <div class='overlay'> </div>
                    </div>
                </div>
                <div class='col-lg'>
                    <div class='item'> 
                        <div class="cont_img"><img src="../../../assets/imgs/talants/kitchen.jpg" alt="kitchen"></div>
                        <div class='overlay'> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    -----------------------------  end talants  -------------------------------->



    <!--------------------------------  
    <section class="questions block" id='ques'>
    <div class='container'>
    <div class="main_title">
    <h2> اسئله متنوعه  </h2>
    <span class="sp_one"> </span>
    <span  class="sp_two"> </span>
    </div>

    <div class='row'> 
    <div class='col-lg'>
    <div class='cont_img'> <img src='../../../assets/imgs/questions/question-marks.png'></div>
    </div>
    <div class='col-lg'>
    <div class='info'>
        <ul class='list list-unstyled'> 
        <li><a href="#">  كيف يمكنني تحميل الكتاب ؟ </a></li>
        <li><a href="#">  اريد الاشتراك في المسابقات </a></li>
        <li><a href="#">   اريد كورس مدفوع بشكل مجاني </a></li>
        <li><a href="#">  انا لست فرع المنصوره ماذا افعل؟</a></li>
        <li><a href="#">  اريد نسخه باللغه الانجليزيه من الماده </a></li>
        <li><a href="#">  اريد اضافه المزيد الي المنصه </a></li>
        </ul>
    </div>
    </div>
    </div>
    </div>
    </section>
      ----------------------------->

