<section class='wellcome'>
    <div class="cont_img">
        <img src="../../../assets/imgs/follow/follow2.svg" alt="">
    </div>
    <div class="info text-center">
        <h1> شكرا </h1>
        <span>  {{client_project_name}} </span> 
        <h2> تم ارساله بياناتك بنجاح </h2>
        <p class="lead">   وفي انتظار مراجعتها وعرضها علي الموقع وعلي صفحتنا علي الفيس بوك  </p>
        <h2>  </h2>
        <button> <a href="https://www.facebook.com/%D9%85%D9%87%D9%86%D8%AA%D9%8A-Mhnity-102618485149114"> تابعنا علي الفيس بوك  </a> </button>
    </div>
</section>
