<nav dir="rtl" class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand logo" href="#"><h1> <i class="fas fa-praying-hands"></i> مهنتي </h1> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav list">
            <li class="nav-item">
                <a class="nav-link  main_a" href="#" data-scroll="#home">الرئيسية  </a>
            </li>
            
            <li class="nav-item dropdown nav_courses">
                <a class="nav-link dropdown-toggle comp main_a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    مشاريع
                </a>
                <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink='wellcome'> سوبر ماركت </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> حلويات </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> محل موبايل </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> اعلاف </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> ادوات سباكة </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> محل مفروشات </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> اجهزه كهربائية  </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> اسماك  </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> ملابس </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> عطاره </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> فراخجي </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> ملابس </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> حدايد وبويات </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> صيانة كمبيوتر   </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> صيانة اجهزه كهربائية </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'>  اسمده زراعية </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> منظفات </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> كوافير رجالي </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> كوافير حريمي </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> استيديو  </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> محمصة بن  </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> ملابس  </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> احذية  </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> شنط و اكسسورات   </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> قطع غيار موتسيكل</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> قطع غيار سيارات </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> بقاله فواكه وخضروات </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> بنزينة </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> ورشه حداده </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> ورشه موبلية </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> مخرطة </a>
                </div>
            </li>
            <li class="nav-item dropdown nav_courses">
                <a class="nav-link dropdown-toggle main_a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    دكتور 
                </a>
                <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink='wellcome'> بيطري </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> اطفال </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> باطني </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> اسنان  </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> امراض جلديه  </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> مخ واعصاب </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> عظام </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> علاج طبيعي </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> نساء وتوليد </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> عيون</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> انف واذن وحنجره </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'>  مسالك بوليه </a>
                </div>
            </li>
            <li class="nav-item dropdown nav_courses">
                <a class="nav-link dropdown-toggle main_a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   صيدلية
                </a>
                <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink='wellcome'> صيدلية بشرية  </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> صيدلية بيطرية </a>
                </div>
            </li>
            <li class="nav-item dropdown nav_courses">
                <a class="nav-link dropdown-toggle main_a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    تدريس  
                </a>
                <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink='wellcome'>    مرحلة كي جي </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'>    مرحلة ابتدائية  </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'>  مرحلة اعدادية </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'>   مرحلة ثانوية </a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item dropdown nav_courses">
                <a class="nav-link dropdown-toggle main_a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    عمل حر
                </a>
                <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink='wellcome'> محامي </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> مهندس </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> فني </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> ممرض </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> محاسب </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> سائق </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> طيار دليفري </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> ميكانيكي  </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> سمكري </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> نجار مسلح </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> حداد مسلح </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> صنايعي بناء  </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> مبيض محاره  </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> سباك </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> مبلط سيرميك </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> صنايعي رخام </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> نقاش </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> صنايعي جبس</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> نجار موبلية </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> كهربائي </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> مساعدين وعمال </a>
                </div>
            </li>
            <li class="nav-item dropdown nav_courses">
                <a class="nav-link dropdown-toggle main_a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    خدمات نقل
                </a>
                <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink='wellcome'> نقل ثقيل </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> نقل جامبو </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> ربع نقل </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> ميكروباص وتاكسي</a>
                </div>
            </li>
            <li class="nav-item dropdown nav_courses" >
                <a class="nav-link dropdown-toggle main_a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    معارض وشركات
                </a>
                <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink='wellcome'>   سيراميك وادوادت صحية </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'>  ادوات منزلية ومفروشات  </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'>  شركات عقارات </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'>  معارض سيارات  </a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item dropdown nav_courses" >
                <a class="nav-link dropdown-toggle main_a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    مطعم وكافية
                </a>
                <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink='wellcome'>   فول وفلافل </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'>  حاتي  </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'>  بيتزا  </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'>  سوري  </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'>  كشري  </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='wellcome'> كافية وكفيتريا  </a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
        </ul>
        <ul class='list-unstyled main_ul ul_register'>
            <li class='mygumtree nav-item dropdown '> 
                <a class="nav-link dropdown-toggle main_a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle"></i> حسابي 
                </a>
                <div class="down dropdown-menu">
                    <!--
                    <div>
                        <p *ngIf='!isuser'><span> مرحبا بك في متنوع</span> : انشء حساب او سجل الدخولي حتي تتمكن من</p>
                        <p *ngIf='isuser'><span> مرحبا بك في متنوع</span> :الان يمكنك </p>
                        <ul class='list-unstyled'>
                            <li> <i class="fas fa-check"></i> الوصل الي الاختبارات  </li>
                            <li> <i class="fas fa-check"></i> التواصل مع المحاضر </li>
                            <li> <i class="fas fa-check"></i> تحميل المحاضره  </li>
                        </ul>
                    </div>
                    -->
                    <div class="buttons in" *ngIf='!isuser'>
                        <button class="in_button" routerLink='signup' (click)='to_top()'> انشاء حساب </button>
                        <button  routerLink='login' (click)='to_top()'> تسجيل الدخول </button>
                    </div>
                    <div class='buttons out'>
                        <button  class='out_button' (click)='out()' (click)='to_top()' *ngIf='isuser'> تسجيل الخروج</button>
                        <button  routerLink='admin' (click)='to_top()' *ngIf='isadmin'> admin </button>
                    </div>
                    <button class='clients_btn'  routerLink='clients' (click)='to_top()' *ngIf='isadmin'> عملاء </button>
                </div>
            </li>
        </ul>
    </div>
</nav>
